@font-face{
    font-family:hw7;
    src:url(../font/hw7.ttf);
}
@keyframes swing{
    from{margin-left:-300px;}
    to{margin-left:0px;}
}
*{margin:0;padding:0;}
body{overflow:hidden;font-family:'微软雅黑',tomaha,arial,simsun;line-height:1.5em;}
nav{position:absolute;right:10px;top:10px;height:50px;z-index:10;}
nav li{float:left;list-style-type: none;}
.sidebar{position:fixed;left:20px;top:100px;font-family:"hw7";}
.sidebar dd{width:160px;height:50px;margin:20px;font-size:18px;text-align:center;line-height:50px;cursor:pointer;background:#ffff66;border-radius:25px;}
.sidebar dd.current,.sidebar dd:hover{background:rgb(186,217,229);color:white;font-size:22px;width:180px;}
.circle{display:inline-block;width:30px;height:30px;vertical-align:-7px;}
.circle1{background:url(../img/1.png) no-repeat;background-size:100%;}
.circle2{background:url(../img/3.png) no-repeat;background-size:100%;}
.circle3{background:url(../img/2.png) no-repeat;background-size:100%;}
.triangle{display: inline-block;margin: 0 3px;border-bottom: 10px solid #ffff66;border-top: 10px solid #ffff66;border-left: 0 none transparent;border-right: 10px solid #0066CC;line-height: 0;vertical-align: -4px;margin:0 5px;}
dd:hover .circle,.current .circle{transform:scale(1.2);}
dd:hover .triangle,.current .triangle{border-bottom: 10px solid rgb(186,217,229);border-top: 10px solid rgb(186,217,229);}
.content article{width:100%;background-repeat:no-repeat;background-size:100%;overflow: hidden;}
.content article > div{margin-left:300px;padding:30px;margin-top:110px;background:rgba(0,0,0,0.1);}
article.content1{background-image:url(../img/first.jpg);}
article.content2{background-image:url(../img/second.jpg);background-size:40%;background-position:right bottom;}
article.content3{background-image:url(../img/finally.jpg);}
.contentbody{width:500px;padding:20px;font-size:16px;border-radius: 30px;}
.contentbody ul{margin-left:20px;}
.contentbody li{list-style-type: none;}
.header{position: fixed;left:0;top:0;width:100%;height: 50px;background: rgb(186,217,229);border-radius: 30px 0px 30px 0px;box-shadow: 0 12px 8px -9px #555;padding: 10px 0;line-hegiht:50px;}
.header h1{padding: 9px 12px 0;font-family:"hw7";font-weight: 900;font-size: 2.2em;line-height: 1;letter-spacing: -.025em;color: black;}

.contact{position:fixed;width:300px;height:180px;left:50%;bottom:50px;margin-left:-150px;background-image:url(../img/contact.png);background-size:100%;background-repeat:no-repeat;}
.contact dl{padding-left:30px;padding-top:30px;font-size:20px;line-height:35px;}
.contactSwing{animation:swing 10s linear 0s infinite alternate;}
ul{font-size: 20px;line-height: 30px;letter-spacing: .1em}
.wordspace{width:44px;display:inline-block;}

