body {
    background:#F5F5F5;
    color: #424242;
    padding:50px;
}

span.time,span.categories {
    color: #ADADAD;
    margin-bottom: 5px;
    font-size: 11px;
}

h1 {
    font-weight: normal;
    color: #696969;
    margin-bottom: 10px;
}

h2 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    border-bottom: 1px solid #E6E6E6;
}
        
h3 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    text-decoration: underline;
}

a, a:link, a:active {
    text-decoration: none;
    color: #8C8C8C;
}

a:hover {
    color: #B3B3B3;
    text-decoration: none;
}

pre {
    background: #333333;
    padding: 5px;
    color: #FFF;
    overflow-x: auto;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 12px;
}

.highlight {
	background: #333333;
}


.pagination .previous,.pagination .next{display:inline-block;float:left;}
.pagination .pages{display:inline-block;list-style-type: none;margin:0;padding:0;text-align:center;width:350px;float:left;}
.pagination .pages .page{display: inline;}


#side{width:160px;position:fixed;left:50px;top:0;bottom:0;padding:30px 0;}
#avator{text-align: right;}
#avator img{width:112px;height:112px;border-radius:56px;}
#nav{border-top:1px solid #ddd;margin-top:20px;}
#nav ul{margin:0;padding:15px 0;text-align:right;list-style-type: none;font-size:15px;}
#nav li{border-right:5px solid #F5F5F5;padding-right:5px;font-size:20px;}
#nav li:hover{border-right:5px solid #424242;}
#header .title{font-size: 32px;line-height: 38px;font-weight: normal;margin: 0;color:#444;}
#header .subtitle{font-size: 18px;line-height: 28px;font-weight: normal;margin: 0;color: #777;}

#container {padding-left:220px;margin: auto;}
#posts{background: #FFF;box-shadow: 0 0 15px #DDD;}