/**
 * //////////////
 * Master styling
 * //////////////
 */
body {
    color: #424242;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
/**
 * //////////////////////////
 * Font and link declarations
 * //////////////////////////
 */
span.time,span.categories {
    color: #ADADAD;
    margin-bottom: 5px;
    font-size: 11px;
}

h1 {
    font-weight: normal;
    color: #696969;
    margin-bottom: 10px;
}

h2 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    border-bottom: 1px solid #E6E6E6;
}
        
h3 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    text-decoration: underline;
}

a, a:link, a:active {
    text-decoration: none;
    color: #8C8C8C;
}

a:hover {
    color: #B3B3B3;
    text-decoration: underline;
}

/**
 * /////////////////
 * Container element
 * /////////////////
 */
div#container {
    width: 700px;
    margin: auto;
}

/**
 * //////////////////////////////////
 * Right aka content column formatting
 * //////////////////////////////////
 */
div.right {
    width: 500px;
    float: left;
}
           
div.content {
    border-top: 1px solid #E6E6E6;
    margin-top: 5px;
    padding-top: 5px;
}

div.content pre {
    background: #333333;
    padding: 5px;
    color: #FFF;
    overflow-x: auto;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 12px;
}

div.content .highlight {
	background: #333333;
}

footer {
    border-top: 1px solid #E6E6E6;
    width: 100%;
    height: 10px;
    padding-top: 10px;
    color: #C2C2C2;
    font-size: 11px;
    bottom: 0;
    padding-bottom: 10px;
    margin:50px 0px;
}

footer div#github {
	text-align: right;
}

div.right h1 {
	margin-bottom: -2px;
}

div.right ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
}

div.right ul li {
	margin-top: 5px;
	margin-left: 0;
	padding: 0;
}

div.right .post ul,div.right .categories ul {
	list-style: square;
	margin-left: 15px;
}

#home h1{border-bottom: 1px solid #E6E6E6;}
#home ul.posts{height:400px;}
#home ul.categories{min-height:400px;}

/**
 * ///////////////////////////////////
 * Left column aka nav bar formatting
 * ///////////////////////////////////
 */
div.col-sm-3 {
        margin-top: 100px;
        font-size: 11px;
        color: #666;
}

div.col-sm-3 strong {
        font-size: 16px;
        color: #4A4A4A;
        font-weight: normal;
}

div.col-sm-3 div#about {
        margin-top: 10px;
		color: #8C8C8C;
}

div.col-sm-3 img#about {
    -webkit-border-radius: 150px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.pagination .previous,.pagination .next{display:inline-block;float:left;}
.pagination .pages{display:inline-block;list-style-type: none;margin:0;padding:0;text-align:center;width:350px;float:left;}
.pagination .pages .page{display: inline;}
