---
layout: default
title: By category 
---
{% for category in site.categories %}
	<div tag="{{category|first}}" class="category">
		<h2 style="padding-bottom:20px;">Category:{{category|first}}</h2>
		{% for post in category[1] %}
		<div class="post">
			<div class="posttitle">
				<a href="{{ post.url }}"><h2 class="maintitle">{{ post.title }}</h2></a>
				<div class="date"><span>{{ post.date | date_to_string }}</span></div>
			</div>
			<div class="article">{{ post.excerpt }}</div>
		</div>
		{% endfor %}
	</div>
{% endfor %}
