---
layout: default
title: categories
---

<div id="home">
  <h1>Categories</h1>
  <ul class="categories">
    {% for category in site.categories %}
      <li>
          <a class="category" href="javascript:void(0);" style="text-decoration:none;">{{ category | first }} ({{ category | last | size }})</a><br/>
          <ul style="display:none;">
              {%for post in category[1]%}
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
              {%endfor%}
          </ul>
      </li>
    {% endfor %}
  </ul>
</div>